<div class="rounded overflow-hidden shadow-md bg-white mb-6">
  <div class="text-xl mb-2 px-4 py-2 bg-grey-lighter text-black">
    <a href="#" class="no-underline hover:underline text-black">{{ item.title }}</a>
  </div>
    
  <div class="px-4 py-2">
    <p class="text-grey-darker">{{ item.subtitle }}</p>
  </div>
  <div class="px-4 py-2">
    <span *ngFor="let tag of item.tags" class="cursor-pointer inline-block bg-grey-lighter rounded-full px-3 py-1 text-sm font-semibold text-grey-darker mr-2 mb-1">
      <i class="fa fa-tag mr-1"></i> {{ tag.name }}
    </span>
    <span class="pull-right text-xs text-grey-dark mt-1">
      By <a href="#" class="no-underline hover:underline text-grey-darker">{{ item.author.name }}</a>
    </span>
  </div>
</div>