<nav class="flex items-center justify-between flex-wrap bg-blue p-6">
  <div class="flex items-center flex-no-shrink text-white mr-6">
    <a [routerLink]="''">
      <img src="/assets/angular.png" height="50">
    </a>
    <span class="font-semibold text-xl tracking-tight">ng tips</span>
  </div>
  <div class="text-sm w-full block flex-grow sm:w-auto inline-flex items-end">
    <a *ngFor="let link of links$ | async" 
        [routerLink]="link.url"
        class="mt-4 sm:mt-0 no-underline text-white hover:underline mr-4">
      {{ link.label }}
    </a>
  </div>
</nav>